<div class="mobile-menu">
    <div class="mobile-menu__wrapper">
        <div class="mobile-menu__container">
        <!-- <input class="mobile-menu__input" type="checkbox" id="menu-checkbox" /> -->
            <!-- <label class="mobile-menu__menu js-mobile-menu__menu" > -->
            <div class="mobile-menu__menu js-mobile-menu__menu" >
                <span class="mobile-menu__menu-item"></span>
                <span class="mobile-menu__menu-item"></span>
                <span class="mobile-menu__menu-item"></span>
                <span class="mobile-menu__menu-item"></span>
            </div>
            <!-- </label> -->
        {% include NavBar/index.html class="nav-bar__mobile-menu" %}
        </div>
    </div>
    <div class='mobile-menu__overlay js-mobile-menu-overlay'></div>
</div>