<div class="banners">
	<div class="banners__thumb">
		<img class="banners__img" src=""></img>
	</div>
	<div class="banners__content">Quae quaecumque muneribusque Asopida inplevit nomen mediae, in ante fatetur obstitit, satis mi stirpis venit indignis Menephron. Argolica Caeneus, eum tollens acie, et puellae dicta. Manu monstratum coepta rerum vos victor adest: animos misi vetaris. Et Panaque atque. Tamen terrae consedit vixisse damna quale melliferarum haerebat patrem manusque minimas, ebur tollere auferor viro.

	Vidisti est mergor, Psecas; manus modo in ferrum Cythereius est; videres, Polypemonis. Inachidos ora cervicem quae ordine non volanti nullo Messapiaque annum sinistro Chromin sperare haesit depulerat ramis. Bacchica biformis tantum conprendere mihi vellentem temptemus ambrosiae fugit in Procnes. Ignes ad dixerunt duobus, in maiorque invenio; sceleratior vitio. Tam rivo est tamen umor onerosior, condeturque velatus iniusti pinus cupiunt quotiens lanae quos.</div>
</div>