.header {
	font-size: 0;
	text-align: center;

	&__item {
		display: inline-block;
		width: calc(100%/4);
		background: $base-color;
		color: #eee;
		font-size: 18px;
		padding: 20px 0;
		text-decoration: none;
		transition: background ease-out .25s;

		&:hover {
			background: rgba($base-color, .85);
		}
	}
}
