<div class="contacts">
    <div class="contacts__info">
        <p class="contacts__info-title">Quae quaecumque</p>
        <p>м.Київ, вул. Незалежності 15
        <br>
        Phone: <a class="contacts__phone" href="tel:+011-111-11-11">011-111-11-11</a>
        <br>
        Fax: 011-111-11-11
        <br>
        Email: example@mail.com
        </p>
    </div>
    <!-- <div class="contacts__form">
        <p class="contacts__form-title">Write Us</p>
        <form name="contact" method="post" id="contact-form">
            <label class="contacts__label">
                <span class="contacts__text"></span>
                <input type="text" id="contact-name" name="contact[name]" required="required" class="form-control">
            </label>
            <label class="contacts__label">
                <span class="contacts__text"></span>
                <input type="email" id="contact-email" name="contact[email]" required="required" class="form-control">
            </label>
            <label class="contacts__label">
                <span class="contacts__text"></span>
                <input type="text" id="contact-subject" name="contact[subject]" required="required" class="form-control">
            </label>
            <label class="contacts__label">
                <span class="contacts__text"></span>
                <textarea id="contact-message" name="contact[message]" required="required" class="form-control"></textarea>
            </label>
        </form>
    </div> -->
</div>