.contacts {
    position: relative;

    &__info {
        position: absolute;
        background: #fff;
        padding: 40px;
        top: -40px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        // text-align: center;
        width: 80vw;
        max-width: 400px;
        min-width: 300px;
        box-sizing: border-box;

        @include media(S) {
            left: 40px;
            transform: translate3d(0, 0, 0);
        }

        &-title {
            font-size: 28px;
            font-style: italic;
        }
    }

    &__phone {
        text-decoration: none;
        color: #000;
        cursor: default;
    }
}