.nav-bar {
    font-size: 0;
    text-align: center;

    &__header {
        display: none;
        background: rgba(#242424, .6);
        text-transform: uppercase;

        & .nav-bar__item:hover {
            // background: #28a6b7;
        }

        @include media(M) {
            display: block;
        }

    }

    &__footer {
        width: 100%;

        & .nav-bar__item {
            font-size: 14px;
            color: #8e8c8c;
        }

        @include media(S) {
            width: 60%;
            float: right;
        }
    }

    &__mobile-menu {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translate3d(0,-50%,0);
        display: flex;
        flex-direction: column;
        align-items: center;

        & .nav-bar__item {
            display: block;
            width: auto;
            color: #fff;
            padding: 20px;
            margin: 20px 0;
            opacity: 0;
            text-transform: uppercase;
            transition: opacity .3s ease;

            .mobile-menu__wrapper.is-open & {
                opacity: 1;
            }

            &:hover {
                &:before,
                &:after {
                    opacity: 1;
                    width: 100%;
                }
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                width: 0%;
                height: 2px;
                background: #FFF;
                opacity: 0;
                transition: all 0.3s;
            }

            &:before {
                left: 0px;
                top: 0px;
            }

            &:after {
                right: 0px;
                bottom: 0px;
            }
        }
    }

    &__item {
        display: inline-block;
        width: calc(100%/4);
        color: #eee;
        font-size: 18px;
        padding: 20px 0;
        line-height: 20px;
        text-decoration: none;
        transition: background ease-out .25s;
        position: relative;
    }
}