.nav-bar {
    font-size: 0;
    text-align: center;

    &__header {
        display: none;
        & .nav-bar__item:hover {
            background: #28a6b7;
        }

        @include media(M) {
            display: block;
        }

    }

    &__footer {
        width: 100%;

        & .nav-bar__item {
            font-size: 14px;
            color: #8e8c8c;
        }

        @include media(S) {
            width: 60%;
            float: right;
        }
    }

    &__item {
        display: inline-block;
        width: calc(100%/4);
        color: #eee;
        font-size: 18px;
        padding: 20px 0;
        line-height: 20px;
        text-decoration: none;
        transition: background ease-out .25s;
    }

}